body{ 
	margin-top: 60px; 
	padding: 0 30px 0 30px;
}
.btc-hide{
	display: none;
}
.muted{
	font-size: 0.9em;
	font-weight: normal;
	color: #888;
}
input[type='text']{
	border-radius: 4px;
	border: 1px solid #bbb;
	padding: 5px 8px;
	width: 80%;
}

/* layout */
#main-wrap{ padding-top: 25px; }

/* todos */
#todos-wrap{
	background-color: #eee;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 25px;
}
#todos ul{
	width: 100%;
	margin-left: -5%;
	list-style-type: none;
	margin-top: 15px;
}
ul#todo-list li{
	padding: 15px 25px 15px 25px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #bbb;
}

ul#todo-list li button.destroy{
	font-weight: bold;
	margin-left: 15px;
	color: #990000;
	float: right;
}
ul#todo-list li input.todo-checkbox{
	margin-right: 15px;
}
ul#todo-list li label{
	color: #333;
}
ul#todo-filters{
	text-align: center;
}
ul#todo-filters li{
	padding: 0px 25px;
	border-left: 1px solid #aaa;
	display: inline-block;
}
ul#todo-filters li:first-child{ border-left: none; }
#todo-footer{ 
	border-top: 1px solid #ccc; 
	background-color: #ddd;
	padding: 15px;
}
#toggle-all-wrap{
	margin-top:-20px;
	margin-left: 20px;
}
ul#todo-list li#todo-list-bottom{
	border-top: 1px solid #ccc;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
ul#todo-list li#todo-toggle-all label{
	color: #999;
	font-weight: normal;
	vertical-align: top;
	margin-left: 5px;
}
#todo-info{
	text-align: center;
	color: #999;
	letter-spacing: 0.04em;
}
ul#todo-list li.completed label{
	text-decoration: line-through;
	color: #888;
}